/* Importing all CSS files */
@import url('./Header.css');
@import './MainSection.css';
@import './AboutSection.css';
@import './ServiceSection.css';
@import './SkillSection.css';
@import './ResumeSection.css';
@import './ContactSection.css';
@import './ProjectSection.css';

/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary Variables */
:root {
  --primary: 'green';
}